<div class="wrapper">
    <div class="col-wrap">
        <div class="col padding-bottom--6">
            <div class="col col--lg-48 margin-bottom--2">
                <h3 class="margin-top--4">Visitors today</h3>
                <div id="visits-today--chart" class="height--30 chart-container" aria-labelledby="charts-aria">
                    <img src="../img/loader.gif" width="32px" class="margin-top--1"/>
                </div>
            </div>
            <div class="col col--lg-10 margin-left--1 margin-top-lg--8 padding-top--6 ">
                <!--<h3>Active users</h3>-->
                <p class="text-center"><span class="size--80">{{activeUsers}}</span><br/>users online now</p>
            </div>
        </div>
    </div>
    <div class="col-wrap">
        <div class="col padding-bottom--6 border-bottom--iron-light-lg margin-top--1 border-top--iron-light-lg">
            <h3 class="margin-top--4">Devices used</h3>
            <div id="devices--chart" class="height--40 chart-container" aria-labelledby="charts-aria">
                <img src="../img/loader.gif" width="32px" class="margin-top--1"/>
            </div>
        </div>
        <div class="col padding-bottom--6 border-bottom--iron-light-lg">
            <h3 class="margin-top--4">Top pages</h3>
            <div id="landing-pages--chart" class="height--50 chart-container" aria-labelledby="charts-aria">
                <img src="../img/loader.gif" width="32px" class="margin-top--1"/>
            </div>
        </div>
        <div class="col padding-bottom--6 border-bottom--iron-light-lg">
            <h3 class="margin-top--4">Top refers</h3>
            <div id="traffic-sources--chart" class="height--50 chart-container" aria-labelledby="charts-aria">
                <img src="../img/loader.gif" width="32px" class="margin-top--1"/>
            </div>
        </div>
    </div>
</div>