<div class="">
    <div class="wrapper">
        <div class="col-wrap">
            <div class="col">
                <h2>Activity</h2>
                <p>{{activeUsers}} active users currently on our website</p>

                <h3>Visits today</h3>
                <div id="visits-today--chart"></div>
            </div>
        </div>
    </div>
</div>