<div class="wrapper">
    <section id="web-traffic-section" class="section" style="display: none" aria-labelledby="tab-web-traffic" aria-hidden="true">
        <div id="web-traffic__container"></div>
    </section>
    <section id="service-status-section" class="section" style="display: none" aria-labelledby="tab-service-status" aria-hidden="true">
        <div id="response-times__container"></div>
        <div id="request-publish-times__container"></div>
    </section>
</div>

{{!-- Read out by screen readers for each chart --}}
<div id="charts-aria" style="position: fixed; left: -999999px;">Interactive chart, data available in following table</div>