<div class="wrapper">
    <section id="ons-website-section" class="section" style="display: none" aria-labelledby="tab-ons-website" aria-hidden="true">
        <div id="ons-website__container"></div>
        <div id="publish-times__container"></div>
        <div id="monthly-visits__container"></div>
    </section>
    <section id="service-status-section" class="section" style="display: none" aria-labelledby="tab-service-status" aria-hidden="true">
        <div id="response-times__container"></div>
        <div id="request-publish-times__container"></div>
        <div id="request-times__container"></div>
    </section>
</div>

{{!-- Read out by screen readers for each chart --}}
<div id="charts-aria" style="position: fixed; left: -999999px;">Interactive chart, data available in following table</div>