{{> partials/header }}

<!--<div id="content">-->

<!--</div>-->
<section id="activity-section" class="section" style="display: none" aria-labelledby="tab-activity" aria-hidden="true"></section>
<section id="service-status-section" class="section" style="display: none" aria-labelledby="tab-service-status" aria-hidden="true"></section>

{{!-- Read out by screen readers for each chart --}}
<div id="charts-aria" style="display: none;"></div>