{{> partials/header }}
<div class="wrapper margin-top--3">
    <button class="btn btn--primary" id="latest-data">Get latest data</button>
    <button class="btn btn--secondary" id="toggle-active">Toggle active view</button>
</div>
<div id="active-view"></div>