<div class="">
    <div class="wrapper">
        <div class="col-wrap margin-top--1">
            <div class="col">
                <h2>Average response time</h2>
            </div>
            {{#each averageResponseTimes}}
                <div class="col col--lg-18 padding-top--2 padding-right--1 padding-bottom--2 padding-left--1">
                    <p>{{description}}</p>
                    <h2 class="flush">{{responseTime}}ms</h2>
                    <p>Uptime: {{percentageTimeUp}}%<br/> Downtime: {{percentageTimeDown}}%</p>
                </div>
            {{/each}}
        </div>
    </div>
</div>