<div class="">
    <div class="wrapper">
        <div class="col-wrap">
            <div class="col">
                <!--<h2>Service Status</h2>-->
                <div class="margin-top--1">
                    <h2>Response times</h2>
                    <div id="response-times--chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>