<div class="">
    <div class="wrapper">
        <div class="col-wrap">
            <div class="col">
                <p>Service Status stuff</p>
                <div id="js--chart"></div>
            </div>
        </div>
    </div>
</div>