<div class="col-wrap">
    <div class="col">
        <h4 class="flush">Visits to the ONS website</h4>
        <div id="monthly-visits--chart" class="height--40 chart-container">
            <img src="../img/loader.gif" width="32px" class="margin-top--1"/>
        </div>
    </div>
</div>