<div class="col-wrap">
    <div class="col border-top--iron-light-lg padding-top-md--6 margin-top-md--6">
        <h3 class="margin-top--4">Publishing statistical releases at 09:30</h3>
        <p class="flush">Times taken to publish new statistics in line with the <a href="https://www.statisticsauthority.gov.uk/monitoring-and-assessment/code-of-practice/">Code of Practice for Official Statistics</a></p>
        <div id="publish-times-new--chart" class="height--40 chart-container">
            <img src="../img/loader.gif" width="32px" class="margin-top--1"/>
        </div>
    </div>
</div>