<nav>
    <ul class="list--neutral flush">
        <li class="tab__item width-sm--6">
            <a href="#activity" class="tab__link js-tab tab__link--active">Activity</a>
        </li>
        <li class="tab__item width-sm--6">
            <a href="#service-status" class="tab__link js-tab">Service status</a>
        </li>
    </ul>
</nav>