<nav>
    <ul class="list--neutral flush">
        {{#each tabs}}
            <li class="tab__item width-sm--6">
                {{#if isActive}}
                    <span class="tab__link js-tab tab__link--active">{{title}}</span>
                {{else}}
                    <a href="#{{slug}}" class="tab__link js-tab">{{title}}</a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</nav>