<nav>
    <ul class="list--neutral flush">
        <li class="tab__item width-sm--6">
            <span class="tab__link tab__link--active">A title</span>
        </li>
        <li class="tab__item width-sm--6">
            <a href="#moar-title" class="tab__link js-tab">Moar title</a>
        </li>
    </ul>
</nav>