a:hover {
    cursor: pointer;
}

// thick left border for dashboard stat blocks
.border {

    &--left-thick {
        border-left: 16px solid #E5E6E7;
    }

    &--right-thick {
        border-right: 16px solid #E5E6E7;
    }
}


// stand out numbers
.size {

    &--24 {
        font-size: 24px;
    }

    &--80 {
        font-size: 80px;
    }

}


// Revert Sixteens hiding all elements with attribute aria-hidden = true
[aria-hidden*=true] {
    display: block;
    visibility: visible;
}